In [2]:
import pandas as pd
import sqlite3

%load_ext sql

In [3]:
%sql sqlite:///ons.db

'Connected: None@ons.db'

In [4]:
#create connection
conn=sqlite3.connect('ons.db')

In [5]:
#Import new data to the sales2 table
df_sales= pd.read_csv('NewSales.csv')
sql_sales= df_sales.to_sql('Sales', conn, if_exists='append', index=False);

In [6]:
%%sql
SELECT * FROM Sales limit 25;

Done.

[('E01', 0, '9/15/17', 'JGRUSHACK@GMAIL.COM', '#ONS2669', 'order', None, 0, 0, 6.96, 0.62, 0),
 ('E01', 33728, '9/15/17', 'JGRUSHACK@GMAIL.COM', '#ONS2669', 'order', None, -64, 64, 0, 5.68, 1),
 ('E01', 34015, '9/15/17', 'JGRUSHACK@GMAIL.COM', '#ONS2669', 'order', None, -64, 64, 0, 5.68, 1),
 ('E01', 35924, '9/19/17', 'byun21@gmail.com', '#ONS2670', 'order', None, -131.25, 743.75, 0, 0, 7),
 ('E01', 0, '9/19/17', 'byun21@gmail.com', '#ONS2670', 'order', None, 0, 0, 25.15, 0, 0),
 ('E01', 34020, '9/19/17', 'streetcroci1@gmail.com', '#ONS2671', 'order', None, -64, 64, 0, 0, 1),
 ('E01', 0, '9/19/17', 'streetcroci1@gmail.com', '#ONS2671', 'order', None, 0, 0, 9.22, 0, 0),
 ('E01', 35454, '9/20/17', 'michael@motivesny.com', '#ONS2672', 'order', None, 0, 438, 0, 38.87, 1),
 ('E01', 0, '9/20/17', 'michael@motivesny.com', '#ONS2672', 'order', None, 0, 0, 0, 0, 0),
 ('E01', 35690, '9/23/17', 'Brandon.L.Cohn@gmail.com', '#ONS2673', 'order', None, 0, 88, 0, 7.81, 1),
 ('E01', 0, '9/23/17', 'Brandon.L.Cohn@gmail.com', '#ONS2673', 'order', None, 0, 0, 0, 0, 0),
 ('E01', 35545, '9/23/17', 'Brandon.L.Cohn@gmail.com', '#ONS2673', 'order', None, 0, 128, 0, 11.36, 1),
 ('E01', 33476, '9/25/17', 'seymour.cameron7@gmail.com', '#ONS2674', 'order', None, 0, 24, 0, 0, 1),
 ('E01', 33471, '9/25/17', 'seymour.cameron7@gmail.com', '#ONS2674', 'order', None, 0, 24, 0, 0, 1),
 ('E01', 0, '9/25/17', 'seymour.cameron7@gmail.com', '#ONS2674', 'order', None, 0, 0, 9.22, 0, 0),
 ('E01', 0, '9/26/17', 'mtodisco10@gmail.com', '#ONS2676', 'order', None, 0, 0, 6.96, 0.62, 0),
 ('E01', 0, '9/26/17', 'kurtwesleybrown@gmail.com', '#ONS2675', 'order', None, 0, 0, 28.89, 0, 0),
 ('E01', 35084, '9/26/17', 'kurtwesleybrown@gmail.com', '#ONS2675', 'order', None, -14.7, 83.3, 0, 0, 1),
 ('E01', 35091, '9/26/17', 'kurtwesleybrown@gmail.com', '#ONS2675', 'order', None, -14.7, 83.3, 0, 0, 1),
 ('E01', 34558, '9/26/17', 'mtodisco10@gmail.com', '#ONS2676', 'order', None, 0, 84, 0, 7.46, 1),
 ('E01', 34013, '9/26/17', 'mtodisco10@gmail.com', '#ONS2676', 'order', None, 0, 64, 0, 5.67, 1),
 ('E01', 0, '10/1/17', 'brian.chung1013@gmail.com', '#ONS2677', 'order', None, 0, 0, 0, 0, 0),
 ('E01', 34462, '10/1/17', 'brian.chung1013@gmail.com', '#ONS2677', 'order', None, 0, 94, 0, 0, 1),
 ('E01', 35191, '10/1/17', 'brian.chung1013@gmail.com', '#ONS2677', 'order', None, 0, 128, 0, 0, 1),
 ('E01', 35541, '10/8/17', 'robert.h.pritchard@gmail.com', '#ONS2678', 'order', None, 0, 128, 0, 11.36, 1)]